{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<div class="main">
  <h2 class="article-page-title">{{ article.title }}</h2>
  <div class="flex article-info">
    <p>{{ article.locale_date }}</p>
    <p>~</p>
    <p>{{ article.category }}</p>
  </div>
  <div class="article-content">
    {{ article.content }}
  </div>
  <div class="tags">
    {% if article.tags %}
    {% for tag in article.tags %}
    <div class="tag">
      <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %} {% endif %}
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}