<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Ed Hazledine is a Python and flask programmer. He's a self-taught developer and currently open for work.">
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300|Roboto+Slab|Dancing+Script|Poiret+One|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118566588-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-118566588-1');
    </script>
</head>

<body>
    <hr class="hr-top" />
    <div class="everything-width">
        <div class="grid-container">
            <div class="header" id="header">
                <a class="title-link" href="/">
                    <h1 class="title">edTheCoder<span class="domain">.dev</span></h1>
                </a>
                <div class="link-font">
                    &nbsp;<a href="/portfolio.html">portfolio</a>&nbsp;
                    <a href="https://twitter.com/ed_the_coder" target="_blank">twitter</a>&nbsp;
                    <a href="https://aquestionofcode.com" target="_blank">podcast</a>&nbsp;
                    <a href="/about.html">about</a>
                </div>
                <p class="subtitle">I'm <a href="about.html">Ed Hazledine</a>, a self-taught <strong>software developer</strong> and <strong>podcaster.</strong>
            <hr class="hr-middle" />
                </p>
            </div>
            {% block content %}{% endblock %}
        </div>
    </div>
    <div id="footer">
        <hr class="hr-long2" />
        <p style="color: #585858; margin: 12px"><i class="fas fa-copyright"></i> ELH 2020</p>
    </div>
</body>

</html>