{% extends "base.html" %}

{% block title %}{{ SITENAME }}{% endblock %}

{% block content %}
<div class="main" id="main">
    <div class="p-override">
        {% for article in articles %}
        <h2 style="font-size: 30px;"><a style="text-decoration: none;"
                href="/{{ article.slug }}.html">{{ article.title }}</a></h2>
        <p style="font-size: 19px; font-family: 'Roboto Slab'">{{ article.locale_date }}</p>
        {{ article.summary }}
        {% if articles[loop.index] %}
        <br>
        <p style="font-size: 22px; text-align: center; font-family: 'Dancing Script'">&lt;br&gt;</p>
        <br>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}