body {
    font-family: 'Raleway', serif;
    margin: 0;
    background-color: #fbfbfb;
    color: #333;
}

.header { grid-area: header; }
.menu { grid-area: menu; }
.main { grid-area: main; }
.left { grid-area: left; }
.right { grid-area: right; }
.footer { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-areas:
      'left header header header header header header right'
      'left main main main main main main right'
      'footer footer footer footer footer footer footer footer';
    grid-gap: 5px;
    padding: 5px;
}

.main {
    /* margin-bottom: 15px; */
}

.article-content {
    margin-top: 10px;
}

.everything-width {
    max-width: 700px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

#footer {
    font-size: 15px;
    text-align: center;
}

p, h2, h3, h4, h5 {
    margin: 4px;
}

.title {
    font-size: 70px;
    font-family: 'Poiret One';
    margin: 0;
}

.title-link {
    text-decoration: none;
}

.domain {
    font-size: 20px;
}

.subtitle {
    color: #282828;
    font-size: 20px;
    margin-top: 18px;
    margin-bottom: 10px;
}

@media screen and (max-device-width: 640px) {
    .everything-width {
        padding: 0 15px;
    }

    .title {
        font-size: 50px !important;
        font-weight: bold;
        margin-bottom: 5px;
        margin-left: 2px;
    }
    .link-font {
        font-size: 19px !important;
    }

    .hr-middle {
        margin-bottom: 5px !important;
    }
}

a, a:active, a:visited {
    color: #444444;
}

.link-font {
    color: #181818;
    font-size: 25px;
}

.hr-top {
    height: 10px;
    background-color: #ef3066;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 5px;
    border: 0;
}

.hr-middle {
    height: 3px;
    background-color: #f2527f;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 0;
}

.hr-long2 {
    height: 3px;
    background-color: #ef3066;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 3px !important;
    border: 0;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.table-scroll {
    width: 95vw;
    overflow-y: auto;
    max-width: 700px;
}

::selection {
    background: #fee1e8;
}

::-moz-selection {
    background: #fee1e8;
}

/* Taken from CSS tricks https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/ */
blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}

/* .no-underline > a {
    text-decoration: none;
} */
