body {
    font-family: 'Raleway', serif;
    margin: 0;
    background-color: #fbfbfb;
    color: #333;
}

a, a:active, a:visited {
    color: #444444;
}

p, h2, h3, h4, h5 {
    margin: 4px;
    letter-spacing: 1px;
}

p {
    line-height: 170%;
}

img {
    padding-bottom: 10px;
}

.header { grid-area: header; }
.menu { grid-area: menu; }
.main { grid-area: main; }
.left { grid-area: left; }
.right { grid-area: right; }
.footer { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-areas:
      'left header header header header header header right'
      'left main main main main main main right'
      'footer footer footer footer footer footer footer footer';
    grid-gap: 5px;
    padding: 5px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.page-title {
    padding-bottom: 20px;
}

.portfolio-image {
    max-width: 200px;
    display: inline-block;
    border: 1px solid #efefef;
    margin-bottom: 20px;
    margin-left: 20px;
    float: right;
}

.header {
    margin-bottom: 30px;
}

.footer {
    margin-top: 20px;
    font-size: 15px;
    text-align: center;
}

.footer-text {
    color: #585858;
    padding-top: 8px;
    padding-bottom: 10px;
}

.article-title {
    font-style: bold;
    font-size: 20px;
}

.article-content {
    margin-top: 20px;
}

.article-date {
    color: #9f9f9f;
    font-size: 18px;
    padding-bottom: 20px;
}

.article-tag {
    color: #9f9f9f;
    font-size: 18px;
    padding-bottom: 20px;
}

.article-summary {
    font-size: 18px;
    color: #555;
}

.article-divider {
    margin: 20px 0;
    color: #eee;
    font-size: 25px;
    text-align: center;
    font-family: monospace;
    display: block;
}

.everything-width {
    max-width: 700px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

.title {
    font-size: 70px;
    font-family: 'Poiret One';
    margin: 0;
}

.title-link {
    text-decoration: none;
}

.domain {
    font-size: 20px;
}

.subtitle {
    color: #666;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.name {
    color: #ef3066;
}

.link-font {
    padding-top: 3px;
}

.link-font > a {
    color: #ff84a7;
    font-size: 25px;
}

.hr-top {
    height: 10px;
    background-color: #ef3066;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 0;
}

.hr-middle {
    height: 3px;
    background-color: #f2527f;
    margin: 0 auto;
    margin-top: 20px;
    border: 0;
}

.hr-long2 {
    height: 3px;
    background-color: #ef3066;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 3px !important;
    border: 0;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.table-scroll {
    width: 95vw;
    overflow-y: auto;
    max-width: 700px;
}

::selection {
    background: #fee1e8;
}

::-moz-selection {
    background: #fee1e8;
}

/* Taken from CSS tricks https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/ */
blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

@media screen and (max-device-width: 640px) {
    .everything-width {
        padding: 0 5px;
    }

    .title {
        font-size: 50px;
        margin-bottom: 10px;
        margin-left: 3px;
    }

    .portfolio-image {
        max-width: 100%;
        width: 100vw;
    }

    .article-title {
        font-size: 20px;
    }

    .link-font > a {
        font-size: 19px;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: white;
    }

    a, a:active, a:visited {
        color: #f9f9f9;
    }

    .subtitle {
        color: #ccc;
    }

    .footer-text {
        color: #f9f9f9;
    }

    .hr-top {
        background-color: #6d3cff;
    }

    .hr-middle {
        background-color: #8f6aff;
    }

    .hr-long2 {
        background-color: #6d3cff;
    }

    .link-font > a {
        color: #c0acff;
    }

    .name {
        color: #dacdff !important;
    }

    blockquote {
        background: #777;
}