:root {
    --background-color: #fbfbfb;
    --link-color: #444;
    --primary-font-color: #333;
    --secondary-font-color: #9f9f9f;
    --horizontal-color: #ef3066;
}

[data-theme="dark"] {
    --background-color: #212121;
    --link-color: white;
    --primary-font-color: white;
    --horizontal-color: #e94560;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: var(--background-color);
    color: var(--primary-font-color);
}

a,
a:active,
a:visited {
    color: var(--link-color);
}

p,
h2,
h3,
h4,
h5 {
    margin: 4px;
    letter-spacing: 0.3px;
}

p {
    line-height: 170%;
}

.header {
    grid-area: header;
}

.menu {
    grid-area: menu;
}

.main {
    grid-area: main;
}

.left {
    grid-area: left;
}

.right {
    grid-area: right;
}

.footer {
    grid-area: footer;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'left header header header header header header right'
        'left main main main main main main right'
        'footer footer footer footer footer footer footer footer';
    grid-gap: 5px;
    padding: 5px;
}

.flex {
    display: flex;
}

.page-title {
    padding-bottom: 20px;
}

.portfolio-image {
    max-width: 200px;
    border: 1px solid #efefef;
    margin-bottom: 20px;
    margin-left: 20px;
    float: right;
}

.header {
    margin-bottom: 30px;
}

.footer {
    margin-top: 20px;
    font-size: 15px;
    text-align: center;
}

.footer-text {
    color: #585858;
    padding-top: 8px;
    padding-bottom: 10px;
}

.article-title {
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 0;
}

.article-title>a {
    text-decoration: none;
}

.article-page-title {
    font-weight: 700;
    font-size: 32px;
}

.article-info {
    color: var(--secondary-font-color);
    font-size: 17px;
    margin-top: -2px;
    padding-bottom: 20px;
}

.article-tag {
    color: var(--secondary-font-color);
    font-size: 18px;
    padding-bottom: 20px;
}

.article-divider {
    margin: 20px 0;
    color: #eee;
    font-size: 25px;
    text-align: center;
    font-family: monospace;
    display: block;
}

.article-image {
    border-radius: 4px;
    max-width: 90%;
    width: auto;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

.article-image-right {
    max-width: 252px;
    float: right;
}

.article-content>h2 {
    font-weight: 700;
    font-size: 28px;
    padding-bottom: 10px;
}

.article-content>p {
    padding-bottom: 8px;
    font-size: 18px;
    /* font-weight: lighter; */
    font-family: 'Open Sans', serif;
}

/* code {
    margin-top: 10px;
    padding: 15px 20px;
    border-radius: 4px;
    background-color: #222;
} */


.tags {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.tag {
    background: #eee;
    border-radius: 3px;
    padding: 4px 6px;
    margin: 5px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

.tag>a {
    color: #888;
    text-decoration: none;
}

.table {
    margin: 20px 0;
}

.everything-width {
    max-width: 700px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

.title {
    font-size: 70px;
    font-weight: bold;
    font-family: 'Poiret One';
    margin: 0;
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 50px;
    }
}

.title-link {
    text-decoration: none;
}

.domain {
    font-size: 20px;
}

.subtitle {
    color: #666;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.link-font {
    padding-top: 3px;
}

.link-font>a {
    text-decoration: none;
    color: #ff84a7;
    font-size: 25px;
}

@media screen and (max-width: 600px) {
    .link-font>a {
        font-size: 18px;
    }
}

.link-font>a:hover {
    text-decoration: underline;
}

.hr-top {
    height: 10px;
    background-color: var(--horizontal-color);
    padding: 0;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 0;
}

.hr-middle {
    height: 3px;
    background-color: var(--horizontal-color);
    margin: 0 auto;
    margin-top: 20px;
    border: 0;
}

.hr-long2 {
    height: 3px;
    background-color: var(--horizontal-color);
    padding: 0;
    margin: 0 auto;
    margin-bottom: 3px !important;
    border: 0;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-radius: 4px;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.table-scroll {
    width: 95vw;
    overflow-y: auto;
    max-width: 700px;
}

::selection {
    background: #fee1e8;
}

::-moz-selection {
    background: #fee1e8;
}

/* Taken from CSS tricks https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/ */
blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

.fa-external-link-alt {
    font-size: 15px;
    padding-left: 5px;
    padding-bottom: 2px;
}

@media screen and (max-device-width: 640px) {
    .everything-width {
        padding: 0 5px;
    }

    .title {
        font-size: 50px;
        margin-bottom: 10px;
        margin-left: 3px;
    }

    .portfolio-image {
        max-width: 100%;
        width: 100vw;
    }

    .article-title {
        font-size: 20px;
    }

    .link-font>a {
        font-size: 19px;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #212121;
        color: white;
    }

    a,
    a:active,
    a:visited {
        color: white;
    }

    .subtitle {
        color: #ccc;
    }

    .footer-text {
        color: #f9f9f9;
    }

    .hr-top .hr-middle .hr-long2 {
        background-color: #e94560;
    }

    .link-font>a {
        color: #e94560;
    }

    blockquote {
        background: #777;
    }

    .article-info {
        color: #bbb;
    }

    .tag {
        color: #999;
        background: #444;
    }

    .table {
        background-color: #555;
    }
}